.strike {
    text-decoration: line-through;
    opacity: 0.3;
}

.hero {
    background-color: #fff;
    height: 90vh;

    .flex {
        height: 90vh;
    };
        .container {
            max-width: 90%;
            .face {
                width: 100%;
                .mq-screen-md-min({
                    width: 50%;
                });

                background-image: url('https://lh3.googleusercontent.com/pw/ACtC-3fwR_6-vd5yFluMRjgN2acEhHNXPTvcpKx-1Dulnl-SE_6nFJCKH8Ti1sT8EhuTUtJC-QnrsZHo6r_WOpH1vF7NKYtPaHQmviLSGnS1jAT5f4BqFECnAMe1szOCo1rHcu3gvFVvCgtKnTGNtistNTk-=w1200-h1030-no?authuser=0');
                background-size: cover;
                background-position: right;
                float: left;
                height: 200px;
                display: none;
                .mq-screen-sm-min({
                    height: 300px;
                });
                .mq-screen-md-min({
                    height: 400px;
                    display: block;
                });
                .mq-screen-lg-min({
                    height: 480px;
                });
                position: relative;
                
            }    
            .hero-details {
                float: right;
                width: 100%;
                .mq-screen-md-min({
                    width: 50%;
                });

                h1 {
                    font-size: 2.4em;
                    .font-brand1;
                    .mq-screen-md-min({
                        margin-left: -120px;
                        font-size: 4.4em;
                    });
                    .mq-screen-lg-min({
                        margin-top: 6rem;
                    });
                    position: relative;
                    padding: 0;
                    margin-bottom: 0;
                    z-index: 1;
                }
                p {
                    .font-brand1;
                    line-height: 1.8;
                    padding-top: 2rem;
                    margin: 0;

                    .mq-screen-md-min({
                        padding: 2rem 3rem;
                    });
                }


            }
        }

        
}


.work-container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: stretch
}

.list-post {
    position: relative;
    width: 100%;
    align-self: stretch;
    animation: a .5s infinite;
    animation-iteration-count: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
}     
  
.list-post .cover-image,
.list-post .thumb-link {
    display: block;
    width: 100%;
    height: 256px;
}

.list-post {
    .cover-image {
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover
    }

    .card {
        display: flex;
        flex-direction: column;
        flex: 1;

        .bg {
            border-radius: 4px;
            width: 100%;
            height: 200px;
           
            h2 {
                margin: 0 auto;
                color: #fff;
                .font-brand2;
                text-decoration: none;
                text-align: center;
                padding: 42px;
                font-size: 18px;
            }
        }

        img {
            max-width: 100%;
            margin-top: -114px;
        }
    }
}


.list-post .h-link {
    margin: 32px 0
}

.work-container .list-post .h-link {
    margin: 24px 0
}

.list-post h2 {
    font-weight: 700;
    color: #2b2b2b
}

@media only screen and (min-width:768px) {
    .work-container .list-post:nth-child(odd) {
        padding-left: 24px;
        
        flex: 0 0 50%
    }
    .work-container .list-post:nth-child(2n) {
        padding-right: 24px;
        flex: 0 0 50%
    }
}

@media only screen and (min-width:1024px) {
    
    .work-container .list-post {
        flex: 0 0 33.333%;
        padding: 0 24px 0 0;
        box-shadow: none
    }
    .work-container .list-post:nth-child(3n+1) {
        flex: 0 0 33.333%;
        padding: 0 24px 0 0;
        box-shadow: none
    }
    .work-container .list-post:nth-child(3n+2) {
        flex: 0 0 33.333%;

        padding: 0 24px 0 0;
        
    }
    .work-container .list-post:nth-child(3n+3) {
        flex: 0 0 33.333%;
        padding: 0 0 0 24px;
        
    }
}

.bg.cash-in-carry{
    background-color: #232021;
    
}

.bg.barbuddy {
    background: #2f3139;  
    
}

.bg.department-of-health {
    background-color: #5B54FD;
}

.bg.hoopfest {
    background: #e99a3f;  
}
