.work {
    .project.aston-martin {
        background-image: url('https://eric-norman-portfolio.s3.amazonaws.com/bond.png');
    }
    .project.city-of-boise {
        background-image: url('https://eric-norman-portfolio.s3.amazonaws.com/boise.png');
    }
    .project.national-institutes-of-health {
        background-image: url('https://eric-norman-portfolio.s3.amazonaws.com/nih.png');
    }
    .project.hammr {
        background-image: url('https://eric-norman-portfolio.s3.amazonaws.com/hammr.jpg');
    }
    .project.faro {
        background-image: url('https://eric-norman-portfolio.s3.amazonaws.com/faro.png');
    }
    .project.perfict-fitness {
        background-image: url('https://eric-norman-portfolio.s3.amazonaws.com/perfict.png');
    }
    .project.bloomsday {
        background-image: url('https://eric-norman-portfolio.s3.amazonaws.com/bloomsday.png');
    }
    .project.nike {
        background-image: url('https://eric-norman-portfolio.s3.amazonaws.com/nike.png');
    }
    .project.near {
        background-image: url('https://eric-norman-portfolio.s3.amazonaws.com/near.jpg');
    }
    .project.rally4 {
        background-image: url('https://eric-norman-portfolio.s3.amazonaws.com/rally4.jpg');
    }
    .project.tradeoff {
        background-image: url('https://eric-norman-portfolio.s3.amazonaws.com/tradeoff.jpg');
    }
    .project.wsu-college-of-medicine {
        background-image: url('https://eric-norman-portfolio.s3.amazonaws.com/wsu.jpg');
    }  
} 
  
.project {
    .hero-img.aston-martin {
        background-image: url('https://eric-norman-portfolio.s3.amazonaws.com/hero/aston.jpg');
    }
    .hero-img.bloomsday {
        background-image: url('https://eric-norman-portfolio.s3.amazonaws.com/hero/bloomsday.jpg');
    }
    .hero-img.department-of-health {
        background-image: url('https://eric-norman-portfolio.s3.amazonaws.com/department-of-health/therapy.jpg');
    }
    .hero-img.faro {
        background-image: url('https://eric-norman-portfolio.s3.amazonaws.com/hero/faro.jpg');
    }
    .hero-img.hammr {
        background-image: url('https://eric-norman-portfolio.s3.amazonaws.com/hero/hammr.jpg');
        background-position: center;
    }
    .hero-img.near {
        background-image: url('https://eric-norman-portfolio.s3.amazonaws.com/hero/near.jpg');
    }
    .hero-img.nike {
        background-image: url('https://eric-norman-portfolio.s3.amazonaws.com/hero/nike.jpg');
        background-position: center;
    }
    .hero-img.national-institutes-of-health {
        background-image: url('https://eric-norman-portfolio.s3.amazonaws.com/hero/nih.jpg');
    }
    .hero-img.perfict-fitness {
        background-image: url('https://eric-norman-portfolio.s3.amazonaws.com/hero/perfict.jpg');
    }
    .hero-img.solarity {
        background-image: url('https://eric-norman-portfolio.s3.amazonaws.com/solarity/solarity-living-room.jpg');
    }
    .hero-img.city-of-boise {
        background-image: url('https://eric-norman-portfolio.s3.amazonaws.com/hero/boise.jpg');
    }
    .hero-img.rally4 {
        background-image: url('https://eric-norman-portfolio.s3.amazonaws.com/hero/rally4.jpg');
        background-position: center;
    }
    .hero-img.tradeoff {
        background-image: url('https://eric-norman-portfolio.s3.amazonaws.com/hero/tradeoff.jpg');
        background-position: top;
    }
    .hero-img.wsu-college-of-medicine {
        background-image: url('https://eric-norman-portfolio.s3.amazonaws.com/hero/wsu.jpg');
        background-position: center;
    }
    .hero-img.wa211 {
        background-image: url('https://eric-norman-portfolio.s3.amazonaws.com/211/211-hero.jpg');
        background-position: center;
    }

     
}