.work {
    .project.aston-martin {
        background-image: url('https://eric-norman-portfolio.s3.amazonaws.com/bond.png');
    }
    .project.city-of-boise {
        background-image: url('https://eric-norman-portfolio.s3.amazonaws.com/boise.png');
    }
    .project.national-institutes-of-health {
        background-image: url('https://eric-norman-portfolio.s3.amazonaws.com/nih.png');
    }
    .project.hammr {
        background-image: url('https://eric-norman-portfolio.s3.amazonaws.com/hammr.jpg');
    }
    .project.faro {
        background-image: url('https://eric-norman-portfolio.s3.amazonaws.com/faro.png');
    }
    .project.perfict-fitness {
        background-image: url('https://eric-norman-portfolio.s3.amazonaws.com/perfict.png');
    }
    .project.bloomsday {
        background-image: url('https://eric-norman-portfolio.s3.amazonaws.com/bloomsday.png');
    }
    .project.nike {
        background-image: url('https://eric-norman-portfolio.s3.amazonaws.com/nike.png');
    }
    .project.near {
        background-image: url('https://eric-norman-portfolio.s3.amazonaws.com/near.jpg');
    }
    .project.rally4 {
        background-image: url('https://eric-norman-portfolio.s3.amazonaws.com/rally4.jpg');
    }
    .project.tradeoff {
        background-image: url('https://eric-norman-portfolio.s3.amazonaws.com/tradeoff.jpg');
    }
    .project.wsu-college-of-medicine {
        background-image: url('https://eric-norman-portfolio.s3.amazonaws.com/wsu.jpg');
    }  
} 
  
.project {
    .hero-img.hoopfest {
        background-image: url('https://eric-norman-portfolio.s3.amazonaws.com/hero/aston.jpg');
    }
    .hero-img.barbuddy {
        background-image: url('https://lh3.googleusercontent.com/pw/ACtC-3f0ozeqRbpbm3vXX4tIv8ufoHeir0KZaC3IY7CQ3Gu3bkG3eQdZsgGcbPz3G5kwVgfVZ6KDzOmyoC49AWP_OK78oEGt4dJO_N65Oww4Ej26Anp6RL_UaHb7tx9xx0ChZuVSFLL6r-7WsNhgfhXG6B1D=w2426-h1201-no?authuser=0');
    }
    .hero-img.department-of-health {
        background-image: url('https://eric-norman-portfolio.s3.amazonaws.com/department-of-health/therapy.jpg');
    }
    .hero-img.faro {
        background-image: url('https://eric-norman-portfolio.s3.amazonaws.com/hero/faro.jpg');
    }
     
}